@import "variables";
$opacity: 0.05;

.buttonContainer {
    @extend .noselect;
    box-shadow: 0 1px 1px rgba(0,0,0,$opacity), 
    0 2px 2px rgba(0,0,0,$opacity), 
    0 4px 4px rgba(0,0,0,$opacity), 
    0 8px 8px rgba(0,0,0,$opacity),
    0 16px 16px rgba(0,0,0,$opacity);
    font-size: $mf;
    border-radius: $br;
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: visible;
    cursor: pointer;
    &:hover {
        background-color: gray;    
        color: white;
    }
}