@import "variables";

.dropdownBlock{
    :global{
        .faq-row-wrapper {
            margin-bottom: $s;
            .faq-body {
                background-color: $swin-light-red;
                border-radius: $br;
                .faq-row {
                    border-bottom: 0px;
                    padding: 0px $s;     
                    .row-title { 
                        font-family: 'DIN 2014';
                        font-weight: 700;
                        font-size: $mf;
                    }
                    .row-content {  
                        .row-content-text {
                            font-family: 'Open Sans';
                            font-weight: 500;
                            font-size: $sf;
                            margin-bottom: $s; 
                        }
                    }
                }
            }
        }
        
    }
}





