@import "variables";

.splash {
    margin: -$lg;
    background-image: url("/images/splash.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.splashContainer {
    margin: 100px;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 50px 50px;

    & > * {
        flex-grow: 1;
    }
}