@import "variables";

.containerGrid {
    display: grid;
    height: 100vh;
    grid-template-areas:
    "sidebar content";
    grid-template-columns: 250px 1fr;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    padding: $m;
}