@import "variables";

.panelContainerLeft {
    display: inline-block;
    width: 45%;
    margin-right: $lg;
}

.panelContainerRight {
    display: inline-block;
    width: 45%;
}

.button:hover {
    cursor: pointer;
}

.image {
    display: block;
    margin:auto;
    width: 80%;
    max-width: 800px;
    border-radius: $br;
}

.title {
    font-family: "DIN 2014";
    font-weight: 700;
    font-size: $lf;
    text-align: center;
    margin-bottom: 0;
}

.iframe {
    position: absolute;
    top: 100;
    left: 100;
    width: 80%;
    height: 80%;
    border: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}
