@import "variables";

.moduleTitle {
    font-size: 40px;
    margin: 0px;
}

.moduleFAQ {
    :global {
        .faq-row-wrapper {
            .faq-title {
            }
            .faq-body {
                .faq-row {
                    border-bottom: 0px;
                    .row-title {
                    }

                    .row-content {
                        .row-content-text {
                        }
                    }
                }
            }
        }  
    }
}

.moduleThumbnail {
    width: 150px;
}

.moduleSubtitleContainer {
    display: flex;
    justify-content: space-between;
}

.moduleSubtitle {
    font-size: 20px;
    margin: 0px;
}

.modulePercentage {
    font-size: 20px;
    font-weight: bold;
    color: $swin-red;
    margin: 0px;
}

.moduleContainer {
    display: flex;
    gap: $lg;
    justify-content: center;
    align-items: center;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    margin-left: $xlg;
    margin-top: $m;
    gap: $s;
}

.itemCard {
    background-color: $swin-light-red;
    border-radius: $br;
    padding: $s;
    padding-left: $lg !important;
    padding-right: $lg !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}

.itemTitle {
    font-weight: bold;
    font-size: 20px;
    & > p {
        margin: 0px;
    }
}

.itemPercentage {
    @extend .itemTitle;
}

.itemSubTitle {
    & > p {
        margin: 0px;
    }
}

.itemPlayButton {
    $size: 50px;
    display: block;
    height: $size;
    width: $size;
    border-radius: 50%;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    text-align: center;
    color: #800021;
}

.itemInteractablesContainer {
    display: flex;
    align-items: center;
    gap: $xlg;
}

.modulesContainer {
    display: flex;
    flex-direction: column;
    gap: $lg;
}

.moduleVideo {
    display: flex;
    justify-content: center;
}

.moduleVideoButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:auto;
    margin-top: $lg;
}

.moduleInfoContainer {
    background-color: $swin-light-red;
    padding: $s $xlg;
    border-radius: 30px;
    font-size: $mf;
    & > * {
        margin: 0px;
    }
}
