@import "variables";

.container {
    display: flex;
    flex-direction: column;
    // transform: scale(1.2,1.2) translate(10px, 70px);
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    height: 100%;
}

.dots {
    background-image: url("/images/dots.png");
    height: 100%;
    background-repeat: repeat-y;
    transform: translateX(-5px) translateY(10px);
    padding-top: 50px;

    // padding-top: 80px;
    // background-repeat: no-repeat;
    // background-size: contain;
    // min-height: 900px;
    // transform: translateX(-5px);
    // padding-top: 105px;
}
.selected {
    background-color: $swin-red;
}

.unselected {
    background-color: black;

    &:hover {
        cursor: pointer;
        background-color: gray;
    }
}

.button {
    padding: 10px;
    height: 65px;
    margin-bottom: 67px;
    width: 215px;
    text-align: center;
    color: white;
    border-radius: 0px $br $br 0px;

    display: flex;
    align-items: baseline;
    padding-left: 30px;
    font-size: 25px;
}

.logo {
    margin-left: $m;
}