@import "variables";

.overlay {
    background-color: #3D3A3B;
    color: white;
    height: 80px;
    width: 300px;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 0px $br;

    & > * {
        margin: 0px;
    }
}