@import "variables";

$opacity: 0.05;

.panel {
    padding: $lg;
    box-shadow: 0 1px 1px rgba(0,0,0,$opacity), 
    0 2px 2px rgba(0,0,0,$opacity), 
    0 4px 4px rgba(0,0,0,$opacity), 
    0 8px 8px rgba(0,0,0,$opacity),
    0 16px 16px rgba(0,0,0,$opacity);
    border-radius: $br;
    overflow: hidden;
}

.panelButton {
    padding: $lg;
    width: 350px;
    cursor: pointer;
}