@import "variables";

.supportContainer {
    display: flex;
    gap: $lg;
    flex-direction: column;
    margin-top: $lg;
    h1 {
        margin: 0px;
    }
}



.resourcesAndContactsContainer {
    display: flex;
    justify-content: left;
    gap: $m;
}

.resourcesContainer,
.contactsContainer {
    width: 100%;
    display: block;
}

.sponsorsContainer {
    width: 100%;
    display: block;

    img {
        display: inline-block;
        margin: 10px 100px 10px 0px;
        min-height: 100px;
        padding: 10px 0px 10px 0px;
    }
}

.panelParent{
    text-align: center;
}
.resourcesSegment{
    display: inline-block;
}
.resourcesBlock {
    display: inline-block;
    padding: 20px 20px 0px 20px;
    margin: auto;

    a {
        img {
            display: block;
            margin: auto;
        }
    }
    p {
        text-align: center;
        margin-bottom: 0px;
    }
}
.swinburneOnlineLogo{
    margin-right: 60px !important;
}
.height{
    min-height: 158px;
    text-align:center;
}


