// Margin & Padding Sizes
$s: 10px;
$m: 25px;
$lg: 40px;
$xlg: 80px;
// Other
$br: 5px; // Border Radius

//fonts
$sf: 18px;
$mf: 25px;
$lf: 30px;

$f: 'open sans';
$swin-red: #ED1C2E;
$swin-light-red: #FBD2D0;

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
